--extra-index-url https://download.pytorch.org/whl/cu124
--find-links https://data.dgl.ai/wheels/repo.html
torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
tensorboard
torch-geometric==2.6.1
torch-scatter==2.1.2
dgl==2.1.0
ogb
numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
scikit-learn==1.5.2
networkx==3.4.2
tqdm>=4.66,<5
dill==0.3.8
statsmodels
prettytable
einops
matplotlib==3.10.0
seaborn==0.13.2
