conda install pytorch=2.5.1 torchvision=0.20.1 torchaudio=2.5.1 pytorch-cuda=12.4 -c pytorch -c nvidia -y
pip install torch_scatter
pip install tensorboard
pip install torch-geometric==2.6.1 torch_scatter==2.1.2 dgl==2.1.0
pip install dgl-cu121==2.2.1 -f https://data.dgl.ai/wheels/repo.html
pip install torch-geometric==2.6.1
pip install ogb
conda install -c conda-forge numpy=1.26.4 pandas=2.2.3 scipy=1.13.1 scikit-learn=1.5.2 networkx=3.4.2 "tqdm>=4.66,<5"
pip install dill==0.3.8
conda install -c conda-forge rdkit=2024.9.6 -y
pip install statsmodels prettytable
pip install einops
